# Default owners for everything in the repo
* @FreeRTOS/iot-edge-and-devices-dev

# Arm Ltd
/CORTEX_M35P_FAST_MODEL_BLINKY_GCC/ @ithinuel
/CORTEX_M85_MPU_PXN_PACBTI_FVP_ARMCLANG_IAR/ @ithinuel
/CORTEX_M85_PACBTI_FVP_ARMCLANG_IAR/ @ithinuel
/CORTEX_M85_TASK_DEDICATED_PAC_KEY_FVP_ARMCLANG/ @ithinuel
/CORTEX_R82_SMP_EXTENDED_MPU_FVP_GCC_ARMCLANG/ @ithinuel
/CORTEX_R82_SMP_FVP_GCC_ARMCLANG/ @ithinuel
/CORTEX_R82_SMP_MPU_FVP_GCC_ARMCLANG/ @ithinuel
/RP2350_SMP_GCC/ @ithinuel
